        <div id="content" class="site-content center-relative">
            <article class="content-1170 center-relative">
                <div class="single-header-content">
                    <div class="one margin-0">
                        <img src="{{posts.image}}" alt="">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="wrapper">
                    <div class="post-info">
                        <div class="post-date">
                            <p>Release:</p> <span>{{posts.release}}</span> 
                        </div>
                        <div class="cat-links">
                            <p>Category:</p>                                
                            <ul>
                                <li>
                                    <a href="{{% post.category %}}">{{posts.category}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tags-holder">
                            <p>Tags:</p> 
                            <ul>
                                <li>
                                    <a href="#">{{posts.tags}}</a>
                                </li>
                            </ul>
                        </div>   

                        <div class="more-info ">
                            <p>Brand:</p> <span>{{posts.brand}}</span>
                        </div>

                        <div class="like-holder">
                            <a href="#"> 
                                <div class="heart-holder"></div>                    
                            </a>
                            <span class="count"><p>{{posts.price}}</p></span>
                        </div>
                        <div class="text-left download-button">
                            <a href="#" class="button">Buy</a>  
                        </div>
                    </div>

                    <div class="post-info mob">
                        <div class="post-date">
                            <p>Release:</p> <span>{{posts.release}}</span> 
                        </div>
                        <div class="cat-links">
                            <p>Category:</p>                                
                            <ul>
                                <li>
                                    <a href="{{% post.category %}}">{{posts.category}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tags-holder">
                            <p>Tags:</p> 
                            <ul>
                                <li>
                                    <a href="#">{{posts.tags}}</a>
                                </li>
                            </ul>
                        </div>   

                        <div class="more-info ">
                            <p>Brand:</p> <span>{{posts.brand}}</span>
                        </div>

                        <div class="like-holder">
                            <a href="#"> 
                                <div class="heart-holder"></div>                    
                            </a>
                            <span class="count"><p>{{posts.price}}</p></span>
                        </div>
                        <div class="text-left download-button">
                            <a href="#" class="button">Buy</a>  
                        </div>
                    </div>
                    
                    <div class="entry-content-holder">
                        <h1 class="entry-title">{{posts.title}}</h1>
                        <div class="center-relative clear">                  
                            <div class="entry-content">
                                <div class="content-wrap">
                                    <p>
                                        Enjoyed minutes related as at on on. Is fanny dried as often me. Goodness as reserved raptures to mistaken steepest oh screened he. Gravity he mr sixteen esteems. Mile home its new way with high told said. Finished no horrible blessing landlord dwelling dissuade if.
                                    </p>
                                    <p>&nbsp;</p>
                                    <p>
                                        Rent fond am he in on read. Anxious cordial demands settled entered in do to colonel. Far quitting dwelling graceful the likewise received building. An fact so to that show am shed sold cold. Unaffected remarkably get yet introduced excellence terminated led. Result either design saw she esteem and. On ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Enjoyed minutes related as at on on. Is fanny dried as often me. Goodness as reserved raptures to mistaken steepest oh screened he. Gravity he mr sixteen esteems.
                                    </p>
                                    <p>&nbsp;</p>
                                    <blockquote>
                                        <p>Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone and one.</p>
                                    </blockquote>
                                    <p>&nbsp;</p>
                                    <p>Which we intend to win. With a warning label this big, you know they gotta be fun. Bring me the forms I need to fill out to have her taken away. I decline the title of iron cook and accept the lesser title of zinc saucier, which I just made up. Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program. Houston, Tranquillity Base here.</p>
                                </div>
                            </div>                   
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>

                <div class="clear"></div>
            </article>

        </div>

        <div class="clear"></div>

   
